<nav style="color:red" class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-profile">
        <div class="user-image">
            <img width="30px" height="30px" src="https://media.licdn.com/dms/image/v2/D4D03AQFqqN5NGjfGmw/profile-displayphoto-shrink_800_800/B4DZaQT3dBHwAc-/0/1746177849977?e=1753315200&v=beta&t=zbh7kbH5tAjdmMjNm5Yf5FTt4IiTj8FAEF3BJZOUbcI">
        </div>
        <div style="color:red" class="user-name">
            HELİN ERGÖN
        </div>
        <div style="color:red" class="user-designation">
            Junior Full-Stack Developer
        </div>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Statistics/Index">
                <i style="color:red" class="icon-box menu-icon"></i>
                <span class="menu-title" style="color:red">İstatistikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Bookings/Index">
                <i style="color:red" class="icon-disc menu-icon"></i>
                <span style="color:red" class="menu-title">Rezervasyonlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/BookingSteps/Index">
                <i style="color:red" class="icon-file menu-icon"></i>
                <span style="color:red" class="menu-title">Rezervasyon Adımları</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Destinations/Index">
                <i style="color:red" class="icon-pie-graph menu-icon"></i>
                <span style="color:red" class="menu-title">Gidilecek Yerler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Services/Index">
                <i style="color:red" class="icon-command menu-icon"></i>
                <span style="color:red" class="menu-title">Hizmetler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Sponsor/Index">
                <i style="color:red" class="icon-help menu-icon"></i>
                <span style="color:red" class="menu-title">Sponsorlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Testimonial/Index">
                <i style="color:red" class="icon-head menu-icon"></i>
                <span style="color:red" class="menu-title">Yorumlar</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="/Login/Index">
                <i style="color:red" class="icon-book menu-icon"></i>
                <span style="color:red" class="menu-title">Giriş Yap</span>
            </a>
        </li>
    </ul>
</nav>
